body {
    background-color: rgb(35, 175, 0);
    font: normal 20pt Arial;
    
}
a{
text-decoration: none;
    font-family: 'Otomanopee One', sans-serif;
    color: black;
}

#navSuperior {
    clear: both;
    overflow: hidden;
    font-size: 18px;
    font-weight: bolder;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: inline-block;
    text-decoration: none;
    
    
}


#imgPrincipal {
    width: 125px;
    
}

.div01 {
    float: left;
    
}

.div02 {
    float: left;
    margin-top: 27px;
}

.listaEsquerda {
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Candara', sans-serif;
}

.listaEsquerda:hover {
    background-color: rgb(3, 165, 3);
    padding-top: 27px;
    padding-bottom: 27px;
    color: white;
}

.div03{
    float: right;
    margin-top: 27px;
  
}



.listaDireita {
    padding-right: 15px;
    padding-left: 15px;
   
    border-collapse: separate;
}

.listaDireita:hover {
    background-color: rgb(3, 165, 3);
    padding-top: 27px;
    padding-bottom: 27px;
    color: white;

}

.iconeSeta {
    width: 8px;
    position: relative;
    bottom: 2px;
    left: 2px
}

.iconesListaDireita {
    width: 18px;
    position: relative;
    top: 3px;
    right: 5px
}




 nav .entrardrop .logindrop {
    display: none;
position: relative;
}
nav .entrardrop:hover ul{
    display: block;
}

   


.hd1 {
    
    text-align: center;
   padding-bottom: 100px;
}
.logindrop{

float: right;
}

.login {
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    display: block;
}
.cadastro {
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

form{
font-size: medium;
padding-top: 10px;
border-color: rgb(21, 255, 0);

}
.btn1{background-color: rgb(6, 173, 15);
font-size: 14px;
font-weight: 700;
border: none;
padding: 5px;
cursor: pointer;
color: white;
box-shadow: 0 5px 0 rgb(3, 128, 9);
} /*Botão verde*/
.btn1:hover {background-color: rgb(3, 128, 9);
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 0 rgb(3, 128, 9);
    } /*Botão verde com o mouse em cima*/

    .btn1:active {background-color: rgb(3, 128, 9);
        font-size: 14px;
        font-weight: 700;
        border: none;
        padding: 5px;
        cursor: pointer;
        color: white;
        position: relative;
        top: 5px;
        box-shadow:none;
        } /*Botão verde pressionado*/
    
.botaoEntrar {
    background-color: green;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botaoEntrar:hover {
    background-color: rgb(185, 185, 40);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    
}

.cadastrodrop{

position: fixed;
float: left;
right: 20px;
top: 50px;
display: none;

}
nav .cadastrardrop:hover ul{
    display: block;
}