body {
    background-color: rgba(35, 175, 0, 0.986);
    font: normal 20pt Arial;
    
}

header h1 {
background-color: rgb(96, 192, 0);
width:400px;
margin-left: auto;
margin-right: auto;
}

header {
    color: white;
    text-align: center;
}

.imgCabecalho {
    width: 325px;
}

section {
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}

div{
font-size: medium;
padding-top: 10px;
border-color: rgb(21, 255, 0);

}
.button1{background-color: rgb(6, 173, 15);
font-size: 14px;
font-weight: 700;
border: none;
padding: 5px;
cursor: pointer;
color: white;
box-shadow: 0 5px 0 rgb(3, 128, 9);
} /*Botão verde*/
.button1:hover {background-color: rgb(3, 128, 9);
    font-size: 14px;
    font-weight: 700;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    box-shadow: 0 5px 0 rgb(3, 128, 9);
    } /*Botão verde pressionado*/

.botaoEntrar {
    background-color: green;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.botaoEntrar:hover {
    background-color: rgb(185, 185, 40);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

